extends layout

block content
  h1=title
  div.container
  div.content
  div.well
    form(name="input_username", action="/input_username", method="post")
        p
          input(type="text", name="input_username", class="form-control", placeholder="enter username")
        p
          input(type="submit", value="Submit", class="btn btn-primary")